.container {
  padding: 0 80px;
  &-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 340px);
    grid-gap: 40px;
    justify-content: space-between;
    background-color: #f6f6f6;
    border-radius: 25px;
    padding: 50px;
    margin: 50px 0px;
  }
}

@media only screen and (max-device-width: 768px) {
  .container {
    padding: 0 40px;
    &-list {
      grid-template-columns: repeat(auto-fill, 280px);
      padding: 20px;
    }
  }
}
@media only screen and (max-device-width: 425px) {
  .container {
    padding: 0 20px;
    &-list {
      grid-gap: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0px;
      background-color: white;
      margin: 20px 0px;
    }
  }
}
