.container {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

@media only screen and (max-device-width: 425px) {
  .container {
    margin-top: 0px;

    img {
      width: 15px;
      height: 15px;
    }
  }
}
