.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 80px;

  &-nav {
    display: flex;
    align-items: center;
    gap: 50px;
    h2 {
      font-weight: 500;
      color: #ff6060;
      cursor: pointer;
    }
  }
}

@media only screen and (max-device-width: 425px) {
  .container {
    padding: 20px;

    img {
      width: 120px;
    }

    &-nav {
      gap: 20px;
      h2 {
        font-size: 12px;
        text-transform: uppercase;
      }
    }
  }
}
