.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 80px;

  &-nav {
    display: flex;
    align-items: center;
    gap: 50px;
    h2 {
      font-weight: 500;
      color: #ff6060;
      cursor: pointer;
    }
  }
}
