.collapse {
  width: 80%;
  &-header {
    background-color: #ff6060;
    height: 47px;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    z-index: 1;

    p {
      font-size: 24px;
      font-weight: 500;
    }

    img {
      cursor: pointer;
    }
  }

  &-content {
    background-color: #f6f6f6;
    font-size: 24px;
    font-weight: 400;
    color: #ff6060;
    padding: 40px 20px 20px 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    &-list {
      @extend .collapse-content;
      margin: 0px;
      list-style: none;

      li {
        margin-bottom: 5px;
      }
    }
  }
}

@media only screen and (max-device-width: 768px) {
  .collapse {
    width: 100%;

    p {
      font-size: 13px;
    }
    li {
      font-size: 13px;
    }
    &-header-img {
      height: 20px;
      width: 20px;
    }
  }
}
