.card {
  height: 340px;
  width: 340px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }

  &-title {
    color: white;
    font-size: 18px;
    font-weight: 500;
    max-width: 190px;
    padding: 20px;
  }
}

@media only screen and (max-device-width: 768px) {
  .card {
    height: 280px;
    width: 280px;
  }
}

@media only screen and (max-device-width: 425px) {
  .card {
    height: 270px;
    width: 350px;
  }
}
