footer {
  height: 209px;
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  p {
    font-size: 24px;
    font-weight: 500;
  }

  img {
    width: 100px;
  }
}

@media only screen and (max-device-width: 425px) {
  footer {
    p {
      font-size: 12px;
    }
  }
}
