.about {
  &-container {
    padding: 0 80px;
    min-height: calc(100vh - 280px);
  }
  &-toggle {
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-device-width: 425px) {
  .about {
    &-container {
      padding: 0 20px;
    }
  }
}
